titleBlack = #222522
titleRed = #b00c24

html, body
  margin: 0 auto
  padding: 0
  width: 100vw
  height: 100vh
  font-size: 14px
  font-family: '微软雅黑', Arial, 'Helvetica Neue', Helvetica, sans-serif
  background: transparent

#app
  width: 100%
  height: 100%

#beforeArea
  position: relative
  width: 100%
  height: 100%
  text-align: center

  #startBtn
    position: absolute
    top: 50%
    left: 50%
    border-radius: 50%
    background: #efefef
    width: 80px
    height: 80px
    color: #555
    padding: 0
    margin: 0
    font-size: 20px
    border: none
    box-shadow: 0 0 8px #ddd
    transform: scale(1) translateX(-50%) translateY(-50%)
    transition: all 0.2s

    &:hover
      color: #222
      box-shadow: 0 0 16px #ccc
      transform: scale(1.1) translateX(-50%) translateY(-50%)

#showArea
  display: none
  position: relative
  margin: 0 auto
  width: 800px
  height: 600px
  // background-image: url('../public/asset/image/background.png')
  background-repeat: no-repeat
  background-position: bottom left
  background-size: 100% 400px

  #bgArea
    // position: relative
    img
      display: block
      position: absolute
      width: 100%
      height: 400px
      bottom: 0
      z-index: -1

header
  display: flex
  text-align: center

  > div
    flex: 1

  #leftLogo, #rightLogo
    img
      width: 180px
      height: auto
      pointer-events: none

  #centerLogo
    margin-top: 1rem
    font-weight: bold

    .first
      color: titleBlack
      font-size: 2rem

    .second
      color: titleRed
      font-size: 2rem

    .third
      > span
        font-weight: normal

main
  position: relative

  #goodsArea
    color: titleBlack
    transform: scale(0.75)

    #goodsInner
      opacity: 0
      transition: all 1.2s

    ul
      list-style: none
      padding-left: 0
      width: 400px
      position: relative
      animation: swing 2.4s infinite

      li
        display: flex
        border-bottom: 1px solid rgba(0, 0, 0, 0.25)
        padding: 4px 8px

        .left
          flex: 2
          font-weight: bold

          .title
            color: titleRed
            font-size: 1.8rem

          .speed
            color: titleBlack
            font-size: 1.8rem

        .right
          flex: 1

          .cost
            color: titleRed
            font-size: 2rem

  #extraNote
    margin-top: 1rem

  #charaArea
    > div
      opacity: 0
      position: absolute
      top: 0
      height: 460px
      width: auto
      transition: all 1.2s

    #chara1
      right: 0

    #chara2
      left: 0

    img
      width: 100%
      height: 100%

// Character Switcher
.show
  &.chara1
    #chara1
      opacity: 1
      right: 40px !important

    #goodsArea #goodsInner
      opacity: 1
      transform: translateX(0%)

    #phoneNum
      right: 4rem
      opacity: 1

  &.chara2
    #chara2
      opacity: 1
      left: 40px !important

    #goodsArea #goodsInner
      opacity: 1
      transform: translateX(100%)
      margin-right: 50%

    #bgArea
      img
        transform: rotateY(180deg)

    #phoneNum
      left: 4rem
      opacity: 1

.before
  #phoneNum, #bgArea, #charaArea > div
    opacity: 0

  &.chara1
    #phoneNum
      right: 0
      opacity: 0

    #goodsArea #goodsInner
      opacity: 0
      transform: translateX(-10%)

  &.chara2
    #phoneNum
      left: 0
      opacity: 0

    #goodsArea #goodsInner
      opacity: 0
      transform: translateX(110%)
      margin-right: 50%

footer
  width: 100%

  #phoneNum
    position: absolute
    display: inline-block
    font-size: 1.2rem
    font-weight: bold
    padding: 0.5em 1em
    background-color: #fdc700
    border-radius: 1em
    transition: all 0.6s
    // transition-delay: 0.6s
    opacity: 0
    z-index: 10

  #debugTimer
    position: absolute
    right: 4px
    bottom: 4px
    text-align: right
    font-size: small
    color: gray

@keyframes swing
  0%
    top: 0
    left: 0

  10%
    top: -24px
    left: -12px

  20%
    top: -14px
    left: -22px

  30%
    top: -2px
    left: 4px

  40%
    top: 7px
    left: -5px

  50%
    top: -13px
    left: 8px

  60%
    top: -24px
    left: -10px

  70%
    top: -5px
    left: 4px

  80%
    top: 8px
    left: 18px

  90%
    top: -14px
    left: -2px

  100%
    top: 0
    left: 0